/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: white;
}

.text-transform-none {
    text-transform: none;
}

.theme-green{
    background-color: #27b049;
}