<div class="container">
  <div class="item">

    <div id="timeline">

      <div>

        <section class="year" *ngFor="let item of data">
          <h3>{{item.year}}</h3>
          <section>
            <ul>
              <h6 class="title">{{item.company}}</h6>
              <p>{{item.role}} {{item.duration}}</p>

              <p class="description-1 time-des-pt" *ngIf="item.technologies?.length!=0">Technologies</p>
              <p *ngIf="item.technologies?.length!=0">{{item.technologies}}</p>
              <p class="description-1 time-des-pt" *ngIf="item.rolesPlayed?.length!=0">Roles</p>
              <p class="description-2" *ngIf="item.rolesPlayed?.length!=0">{{item.rolesPlayed}}</p>



            </ul>
          </section>
        </section>

      </div>

    </div>

  </div>
</div>